.layout {
  display: grid;
  grid-template-rows: [header-s] 50px [header-e navBar-s] 50px [navBar-e content-s] 1fr [content-e];
  grid-template-columns: minmax(20px, 250px) [s] 1fr [e] minmax(20px, 250px);
}